.player {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.player-icon-container {
    height: 100%;
    width: Calc(100% * 2 / 18);
}

.player-supports-container {
    height: 100%;
    width: Calc(100% * 3 / 18);
}

.player-deck-container {
    height: 100%;
    width: Calc(100% * 1 / 18);
}

.player-discards-container {
    height: 100%;
    width: Calc(100% * 1 / 18);
}

.player-hand-container {
    height: 100%;
    width: Calc(100% * 6 / 18);
}

.player-spells-container {
    height: 100%;
    width: Calc(100% * 5 / 18);
}