.spell {
    padding: auto;
    height: 100%;
    border: 1px white solid;
}

.spell-air {
    background-color: lightblue;
}

.spell-earth {
    background-color: lightgreen;
}

.spell-fire {
    background-color: lightcoral;
}

.spell-water {
    background-color: skyblue;
}