.element-cards {
    height: 100px;
}

.element-value2-cards, .element-value3-cards {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.element-cards-pile-container {
    width: 100px;
    height: 100%;
}

.element-cards-pile {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.element-card-container, .element-cards-remaining {
    width: 50%;
}